// Custom styles.
// 主页文章添加阴影效果
.post {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 25px;
  -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
  -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}

.out-img-topic {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    -webkit-box-shadow: 0 0 5px rgba(202,203,204,0.5);
    -moz-box-shadow: 0 0 5px rgba(202,203,204,0.5);
}

.posts-expand .post-body img {
    margin: auto;
}
.out-img-topic img{
    margin: auto;
    height: auto;
    box-sizing: border-box !important;
    padding: 3px !important;
    border: 1px solid #ddd  !important;
    width: 100%;
    display: block;
}

.posts-expand .post-eof {
    display: block;
    margin: 0px auto 0px;
    width: 8%;
    height: 0px;
    background: #ccc;
    text-align: center;
}
